:root {
    --thumb-base-size: 7rem;
    --thumb-btn-size: 5rem;
    --thumbstick-btn-bg: radial-gradient(circle, rgb(69, 69, 69), rgb(46, 46, 46));
    --thumbstick-base-bg: radial-gradient(circle, rgb(69, 69, 69), rgba(0, 0, 0, 1));
}

#camera_controls {
    position: relative;
	box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: flex-end;

    width: 100%;
    height: auto;

    margin: 0;
    padding: 0.5rem;

    gap: 0.5rem;
}

#camera_controls > * {
    z-index: 2;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Style controls texts */
.controls > p {
    margin: 0;
    padding: 0.5rem;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: white;

    text-align: center;
}

/* Style group div inside controls */
.controls > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 0.5rem;
}

#controls_bg {
    position: absolute;
    top: 0;
    left: 0;

    z-index: 1;

    width: 100%;
    height: 100%;

    background-image: url('../imgs/plastic_tex_filtered.jpg');
    background-size: cover;
}

.thumbstick_container {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: auto;

    filter: blur(0.3px);

    padding: 0.5rem;

    gap: 1rem;
}

.thumbstick {
    position: relative;

    display: inline-block;

    width: var(--thumb-base-size);
    height: var(--thumb-base-size);
}

.thumb_btn_container {
    margin: 0;

    position: absolute;

    width: var(--thumb-btn-size);
    height: var(--thumb-btn-size);

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    z-index: 1;

    display: inline-block;
}

.thumb_btn {
    margin: 0;

    position: static;

    width: 100%;
    height: 100%;

    background-image: var(--thumbstick-btn-bg);
    border-radius: 50%;
}

.thumb_btn_transition {
    transition: transform 1s;
}

.thumb_bottom {
    margin: 0;

    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: 0;

    background-image: var(--thumbstick-base-bg);
    border-radius: 50%;

    display: inline-block;
}